@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #2563eb;
  --secondary: #3b82f6;
  --accent: #f59e0b;
  --success: #10b981;
  --danger: #ef4444;
  --bg: #f8fafc;
  --text: #0f172a;
}

html.dark {
  --bg: #020617;
  --text: #f8fafc;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}